/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v10/IVeH6A3MiFyaSEiudUMXEweOulFbQKHxPa89BaxZzA0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v10/IQHow_FEYlDC4Gzy_m8fcmaVI6zN22yiurzcBKxPjFE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Open Sans Font */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hhampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* Universal Styles */
html, body {
  font-size: 16px;
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #323232;
}

ul {
  text-align: right;
}

div {
  display: block;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 400;
}

img {
  max-width: 100%;
}

/* Header Area */

header {
  width: 100%;
  align-items: center;
  height: 4em;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px #9a9a9a solid;
}

header img {
  height: 3.125rem;
  padding-left: 1.5rem;
}

.logo {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 1.5rem;
}

.dark-gray {
  color: #323;
  font-weight: 700;
}

.light-gray {
  color: #9a9;
  font-weight: 300;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 0.875rem;
}

nav span {
  display: inline-block;
  padding: 1.25rem 0.5rem;
  justify-content: center;
}

nav a {
  color: #323232;
  text-decoration: none;
}

/* Main Content Area */

.main {
  padding-top: 6rem;
  margin: auto;
}

.main img {
  margin: 2rem 2.5rem 2rem 1.5rem;
}
