/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v10/IVeH6A3MiFyaSEiudUMXEweOulFbQKHxPa89BaxZzA0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v10/IQHow_FEYlDC4Gzy_m8fcmaVI6zN22yiurzcBKxPjFE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Open Sans Font */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hhampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* Universal Styles */
html, body {
  font-size: 16px;
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #323232;
  line-height: 1.4;
}

ul {
  text-align: right;
}

div {
  display: block;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}

.column-large {
  width: 60%;
  margin-right: 2rem;
  margin-left: 2rem;
}

.column-small {
  width: 40%;
}

img.large {
  margin: 1rem 0 2rem 0;
}

/* Header Area */

header {
  width: 100%;
  align-items: center;
  height: 4em;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px #e1e1e1 solid;
}

header img {
  height: 3.125rem;
  padding-left: 1.5rem;
}

.logo {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 1.5rem;
}

.dark-gray {
  color: #323232;
  font-weight: 700;
}

.light-gray {
  color: #9a9a9a;
  font-weight: 300;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 0.875rem;
}

nav span {
  display: inline-block;
  padding: 1.25rem 0.5rem;
  justify-content: center;
}

nav a {
  color: #323232;
  text-decoration: none;
}

/* Banner Area */

.main {
  padding-top: 5rem;
  margin: auto;
  display: inline-flex;
  align-items: center;
  border-bottom: 1px #e1e1e1 solid;
}

.column-small .invite-text {
  margin: 1rem;
}

.start-here  {
  width: 80%;
  background-color: #F7BA1E;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  margin-top: 2rem;
}

/* Information Area */

.information {
  background-color: #f1f1f1;
  display: inline-flex;
  padding-top: 1rem;
}

.post-content {
  font-size: 1.5rem;
  line-height: 1.5;
  display: block;
}

.author {
  padding-top: 2rem;
}

.post {
  border-bottom: 1px #ccc solid;
  width: 100%;
  display: flex;
}

.post img {
  margin: 1rem;
  height: 100%;
  width: 35%;
  float: left;
}

.post h2 {
  color: #F7BA1E;
  font-weight: bold;
}

div.post {
  align-items: center;
}

.post.last {
  border-bottom: none;
}

.post p {
  margin-top: 0.5rem;
}

.read-more {
  margin-top: 1rem;
  display: block;
  font-weight: 700;
}

@media only screen and (max-width: 1500px) {
  img.mobile-image {
    display: none;
  }
}

@media only screen and (min-width: 500px) {
  img.mobile-image {
    display: none;
  }
}

/* Courses */

.courses {
  width: 100%;
  display: block;
}

#row-1, #row-2 {
  display: flex;
  flex-direction: row;
}

.course {
  background-color: #fafafa;
}
